/**
 * Login CSS
 */

#login {
	margin: auto;
	padding : 40px;
	width: 250px;
	background : #9BE2F2;
	text-align: center;
}

/**
 * Project CSS
 */
 
#projects {
	padding: 20px;
	margin: 20px;
	background: #FFF5D6;
}

#projects h2 {
	border-left: 5px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px 10px;
}

#projects table {
	width: 100%;
	border-collapse: collapse;
}

#projects th {
	background: #A1D0FF;
	padding: 8px;
}

#projects td {
	background: #D9EAFA;
	padding: 5px;
}

#projects table table th {
	padding: 5px;
	background: #91C0EE;
}

#projects table table td {
	background: #C9DAEA;
	text-align: center;
}

/**
 * Editor CSS
 */

#editor {
	width: 100%;
	height: 100%;
}

#svg {
	margin: auto;
}

#bottomBar {
	position: fixed;
	bottom: 25px;
	width: 600px;
	background: #539282;
	left: 50%;
	margin-left: -300px;
	overflow: hidden;
	height: 50px;
}

#iconsBox, #arrowBox, #utilitiesBox {
	float: left;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#arrowBox {
	width: 50px;
}

#utilitiesBox {
	width: 100px;
}

#iconsBox {
	width: 450px;
	overflow: hidden;
}

#iconsBox ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#iconsBox li {
	float: left;
	margin: 0px;
	padding: px;
}

#arrowBox img, #utilitiesBox img {
	margin: 0px;
	padding: 0px;
	float: left;
}

/**
 * Global CSS
 */
 
input[type="button"], input[type="submit"] {
	border: 0px;
	background: #253380;
	color: #fff;
	padding: 5px 14px 5px 14px;
}

.popup {
	width: 50%;
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: 1;
	background: #fff;
	text-align: center;
	padding: 15px;
	border: 2px solid #000;
}

.popup table {
	margin: auto;
}

.greyFilter {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}
